* { border: 0.1em solid black; } 
.body {
    margin: 0;
    padding: 0;
    background-color: #457879;

}

#main {
    margin: 0,5em
    background-color #fff;
    padding: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

.chat {
    background-color: #eceadc;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding-bottom: 1em;
    margin: 2em 5em;
}

.m-white{
    margin-right: 60%;
    border: 0.2em solid black;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: white;
}

.m-green{
    margin-left: 60%;
    border: 0.2em solid black;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: greenyellow;
}
.title {
    font-weight: bolder;
    color: white;
    background-color: #233c42;
    padding: 0,5em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.chat-header {
    background-color: #2f4f4f;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.message {
    padding: 0,5em;
    border: 0,1em solid black;
    border-radius: 0,5em;
    margin: 1em;
}

